
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.forename %></h1>
    <p>
      Here is your weekly email about activities and resources that match your preferences:
    </p>
    </br>
    <table style="width:100%">
      <%= 5.times do |count| %>
        <%= if (@user.preferences.subject == @activities[count].subject unless @user.preferences.subject.nil?) %>
        <tr>
          <td>Activity Title: <%= @activities[count].title%></td>
          <td>Activity date: <%= @activities[count].start_date @activities[count].end_date%></td>
          <td>Description: <%= @activities[count].description%></td>
          <td>Link to website: <%= @activities[count].link%></td>
          <td>Address: <%= @activities[count].address%></td>
        </tr>

    </table>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
