%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Startdate:
  = @event.startdate
%p
  %b Enddate:
  = @event.enddate
%p
  %b Url:
  = @event.url

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
