- content_for :title, "Admin Dashboard"
.popular-events-container
  .popular-events-inner-container
    .populartext
      %h1  Pending Requests
      %table
        %tbody
          - @events.each do |event|
            %tr
              %td.event-date= event.deadlinedate
              %td.event-title= event.name
              %td.event-description= event.description
              %td.event-option
                = link_to 'Show', event
              %td.event-option
                = link_to 'Edit', edit_event_path(event)
              %td.event-option
                = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }



%br
