- content_for :title, "Home"


.search-container
  .searchtext
    %h1 Search Heppsy
    %p Find educational resources, activities + more. Use filters for a more advanced match
  .searchbox
  = form_tag("/search", method: "post") do
    = text_field_tag(:search)
    = hidden_field_tag 'page', '1'
  .filter-container
    .filter-box
      %p Acvitity
    .filter-box
      %p Resource
    .filter-box
      %p Students
    .filter-box
      %p Teachers
    .filter-box#more-filters
      %p + Filters

.popular-activities-container
  .popular-activities-inner-container
    .populartext
      %h1 Popular activities
      %table
        %tbody
          %tr
            %td.activity-date 11-04-2018
            %td.activity-title TUOS Open Day
            %td.activity-description Our biggest open day yet at The University of Sheffield.
            %td.activity-likes
              71
              <i class="fa fa-thumbs-up"></i>
            %tr
              %td.activity-date 07-11-2018
              %td.activity-title Manchester University
              %td.activity-description Look at the world-class resources in Manchester University.
              %td.activity-likes
                51
                <i class="fa fa-thumbs-up"></i>
            %tr
              %td.activity-date 13-05-2019
              %td.activity-title Oxford College
              %td.activity-description Visit our ancient buildings and take a stroll through history.
              %td.activity-likes
                31
                <i class="fa fa-thumbs-up"></i>

  -#

        - @activities.each do |activity|
          %tr
            %td.activity-date= activity.start_date
            %td.activity-title= activity.name
            %td.activity-description= activity.description
            %td
              71
              <i class="fa fa-thumbs-up"></i>
