- content_for :title, "Home"


.search-container
  .searchtext
    .title-home
      %h1 Search Heppsy
    %p Find educational resources, activities + more. Use filters for a more advanced match.
  .searchbox
  = form_tag("/search", method: "post", id: 'helloworld', ) do
    = text_field_tag(:query)
    = hidden_field_tag 'subject', '', :id => "subject"
    = hidden_field_tag 'theme', '', :id => "theme"
    = hidden_field_tag 'delivery', '', :id => "delivery"
    = hidden_field_tag 'distance', '', :id => "distance"
    = hidden_field_tag 'postcode', '', :id => "postcode"
    = hidden_field_tag 'page', '1'

  .filter-container
    .row.filter-row.center-flex
      .col-sm-4
        .row
          .col-sm-6
            %p
              Distance (km)
              %a{"data-content" => "Select the distance range you want to search activities within", "data-toggle" => "popover", :href => "#", :title => "Distance"}
                %span.glyphicon.glyphicon-question-sign
          - if !current_user
            .col-sm-6.center-flex
              %input{:placeholder => "Postcode", :id => "postcode_value"}
      .col-sm-6
        %input#example_id{:name => "example_name", :type => "text", :value => ""}/
      .col-sm-2#more-filters
        %p + Filters

    .row.filter-row#extra-filters
      .col-sm-12
        %select{:id => "selectsubject"}
          .subject-choice
            %option{:disabled => "disabled", :selected => "selected"}
              Subject
          - @subjects.each do |subject|
            .subject-choice
              %option
                = subject.name.capitalize

        %select{:id => "selecttheme"}
          .subject-choice
            %option{:disabled => "disabled", :selected => "selected"}
              Theme
          - @themes.each do |theme|
            .subject-choice
              %option
                = theme.capitalize
        %select{:id => "selectdelivery"}
          .subject-choice
            %option{:disabled => "disabled", :selected => "selected"}
              Delivery method
          - @deliveries.each do |delivery|
            .subject-choice
              %option
                = delivery.capitalize

.container-fluid.margin-top-50
  .row
    .popular-events
      .col-centered.col-md-9
        .slickaroo
          - @activities.take(10).each_with_index do |activity, count|

            - if count == 0 || count == 4 || count == 8
              - @class = 'result1'
            - elsif count == 1 || count == 5 || count == 9
              - @class = 'result2'
            - elsif count == 2 || count ==6 || count == 10
              - @class = 'result3'
            - elsif count == 3 || count == 7
              - @class = 'result4'

            - @link = 'https://team18.demo3.hut.shefcompsci.org.uk/activities/' + activity.id.to_s

            .col-md-8.col-centered.flex{:class => @class, :data => {:link => @link}}
              .event-date.vcenter
                = activity.start_date
              .event-title.vcenter.truncate
                = activity.title
              .event-description.vcenter.truncate
                = activity.description
              .event-likes.vcenter
                = activity.get_upvotes.size
                <i class="fa fa-thumbs-up"></i>

    .container-fluid.mt-4
      .row.center-flex.mt-4
        .col-sm-9.mt-4
          .row.mt-5.center-flex.justify-center
            .col-md-2.card-home.result5
              %img.card-img-top{:alt => "Card image cap", :class => 'heppsy-logo', :src => "https://extra.shu.ac.uk/heppsy/assets/2017/06/heppsyplus_white-240x67.png"}/
              .card
              .card-body
                %h5.card-title#light-title Learners
            .col-md-2.card-home.result1
              %img.card-img-top{:alt => "Card image cap", :class => 'heppsy-logo', :src => "https://extra.shu.ac.uk/heppsy/assets/2017/06/heppsyplus_white-240x67.png"}/
              .card
              .card-body
                %h5.card-title Parents
            .col-md-2.card-home.result3#light-title
              %img.card-img-top{:alt => "Card image cap", :class => 'heppsy-logo', :src => "https://extra.shu.ac.uk/heppsy/assets/2017/06/heppsyplus_white-240x67.png"}/
              .card
              .card-body
                %h5.card-title#light-title Teachers
            .col-md-2.card-home.result2
              %img.card-img-top{:alt => "Card image cap", :class => 'heppsy-logo', :src => "https://extra.shu.ac.uk/heppsy/assets/2017/06/heppsyplus_white-240x67.png"}/
              .card
              .card-body
                %h5.card-title Partners

- content_for :head do
  %meta{:content => "no-cache", :name => "turbolinks-cache-control"}
