- content_for :title, "Home"

.page-header
  %h1 Educational Events





.homecontainer
  .homebox
    %h2 Search Events


    = simple_form_for :form_examples do |f|
      = f.input :string, as: :string
      = f.input :addons, wrapper: :vertical_input_group do
        %span.input-group-addon Addon
        = f.input_field :toilet, class: "form-control"

  .homebox
    %h1 Popular events

    %table
      %thead
        %tr
          %th Name
          %th Description
          %th Startdate
          %th Enddate
          %th Url
          %th
          %th
          %th

      %tbody
        - @events.each do |event|
          %tr
            %td= event.name
            %td= event.description
            %td= event.startdate
            %td= event.enddate
            %td= event.url
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
