- content_for :title, "Home"


.search-container
  .searchtext
    %h1 Search Heppsy
    %p Find educational resources, activities + more. Use filters for a more advanced match
  .searchbox
  = form_tag("/search", method: "post") do
    = text_field_tag(:search)
    = hidden_field_tag 'page', '1'
  .filter-container
    .filter-box
      %p Distance 
    .filter-box1
      %select
        .subject-choice
          %option{:disabled => "disabled", :selected => "selected"}
            Subject 
        - @subjects.each do |subject|
          .subject-choice
            %option
              = subject.name.capitalize

        
    .filter-box#more-filters
      %p + Filters

        
.container-fluid.margin-top-50
  .row
    %table
      %tbody
        .popular-events
          - @activities.each do |activity|
            %tr
              .col-md-8.col-centered.flex
                .event-date.vcenter
                  = activity.start_date
                .event-title.vcenter.truncate
                  = activity.title
                .event-description.vcenter.truncate
                  = activity.description
                .event-likes.vcenter
                  = activity.get_upvotes.size
                  <i class="fa fa-thumbs-up"></i>

  
