.container

  %h1  Pending activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Postcode
    %tbody
      - @pendingactivities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.postcode

  .paginate-container
    .paginate
      = will_paginate @pendingactivities

  %h1  Rejected activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Postcode
        %th.col Actions
    %tbody
      - @rejectedactivities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.postcode
          %td
            - if can? :update, activity
              = link_to 'Edit', edit_activity_path(activity), class:"btn btn-default"
              = link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"

  %h1  Approved activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Postcode
    %tbody
      - @rejectedactivities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.postcode
  .paginate-container
    .paginate
      = will_paginate @rejectedactivities

  %h1  Resources
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Resource

    %tbody
      - @resources.each do |resource|
        %tr
          %td= resource.title
          %td= resource.description
          %td= link_to "Download", resource.files[0].url, download: '' unless resource.files[0].nil?
          -# This should work  %a{:href => "resource.resources[0].path"} Link  

  .paginate-container
    .paginate
      = will_paginate @resources
