.container

  %h1  Approved activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Postcode
        %th.col Likes
    %tbody
      - @approvedactivities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.postcode
          %td= activity.get_upvotes.size
          %td= fa_icon('thumbs-up')

  %h1  Rejected activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Postcode
        %th.col Actions
    %tbody
      - @rejectedactivities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.postcode
          %td
            - if can? :update, activity
              = link_to 'Edit', edit_activity_path(activity), class:"btn btn-default"
              = link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"

  %h1  Pending activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Postcode
    %tbody
      - @pendingactivities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.postcode

  .paginate-container
    .paginate
      = will_paginate @pendingactivities

  %hr

  %h1  Approved Resources
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Resource

    %tbody
      - @approvedresources.each do |resource|
        %tr
          %td= resource.title
          %td= resource.description
          %td= link_to "Download", resource.file.url, download: '' unless resource.file.blank?

  %h1  Rejected Resources
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Resource

    %tbody
      - @rejectedresources.each do |resource|
        %tr
          %td= resource.title
          %td= resource.description
          %td= link_to "Download", resource.file.url, download: '' unless resource.file.blank?

  %h1  Pending Resources
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Resource

    %tbody
      - @pendingresources.each do |resource|
        %tr
          %td= resource.title
          %td= resource.description
          %td= link_to "Download", resource.file.url, download: '' unless resource.file.blank?
