= simple_form_for(@preference) do |f|
  = f.error_notification

  .form-inputs
    = f.input :preference_id
    = f.association :subjects, as: :check_boxes

    %h3 Subjects
  .form-actions
    = f.button :submit
