.generic-container
  .generic-header
  %h1 My Preferences

.container
  %table.table
    %thead
      %tr
        %th Subjects
        %th Themes
        %th Delivery Methods
        %th Ages


    %tbody
      - @preferences.each do |preference|
        %tr
          %td
            - preference.subject_ids.each do |subject|
              - if (preference.subject_ids.length > 1 && subject != preference.subject_ids.last)
                = Subject.find(subject).name + ","
              - else
                = Subject.find(subject).name
          %td
            - preference.theme_ids.each do |theme|
              - if (preference.theme_ids.length > 1 && theme != preference.theme_ids.last)
                = Theme.find(theme).name + ","
              - else
                = Theme.find(theme).name
          %td
            - preference.delivery_ids.each do |delivery|
              - if (preference.delivery_ids.length > 1 && delivery != preference.delivery_ids.last)
                = Delivery.find(delivery).method + ","
              - else
                = Delivery.find(delivery).method
          %td
            - preference.age_ids.each do |age|
              - if (preference.age_ids.length > 1 && age != preference.age_ids.last)
                = Age.find(age).method + ","
              - else
                = Age.find(age).age
          %td= link_to 'Show',preference
          %td= link_to 'Edit', edit_preference_path(preference)
          %td= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Preference', new_preference_path
