%h1 Listing preferences

%table.table
  %thead
    %tr
      %th Subject Name
      %th Theme Name
      %th Delivery Method
      %th Age


  %tbody
    - @preferences.each do |preference|
      %tr
        %td
          - preference.subject_ids.each do |subject|
            = Subject.find(subject).name
        %td
          - preference.theme_ids.each do |theme|
            = Theme.find(theme).name
        %td
          - preference.delivery_ids.each do |delivery|
            = Delivery.find(delivery).method
        %td
          - preference.age_ids.each do |age|
            = Age.find(age).age
        %td= link_to 'Show',preference
        %td= link_to 'Edit', edit_preference_path(preference)
        %td= link_to 'Destroy', preference, method: :delete, data: { confirm: 'Are you sure?' }

%br


= link_to 'New Preference', new_preference_path
