= simple_form_for(@resource) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: 'Title'
    = f.input :description, label: 'Event description'
    = f.input :email, label: 'Email', placeholder: 'YourEmail@here.com'
    = f.input :tags, label: 'Add some tags'
    = f.input :add_documents, label: 'Upload document here'

  .form-actions
    = f.button :submit
