= simple_form_for(@resource) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Title'
    = f.input :description, label: 'Activity description'
    = f.input :email, label: 'Email', placeholder: 'YourEmail@here.com'


  .form-file_field
    = f.label :files
    = f.file_field :files, multiple: true, name: 'files'

  .form-actions
    = f.button :submit
