= simple_form_for(@resource) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, label: 'Title'
    = f.input :description, label: 'Activity description'
    = f.input :email, label: 'Email', placeholder: 'YourEmail@here.com'
    = f.input :link, label: 'Add relevant links here'

  .form-actions
    = f.button :submit
