%p#notice= notice

%p
  %b Title:
  = @resource.title
%p
  %b Description:
  = @resource.description
%p
  %b Email:
  = @resource.email


= link_to 'Edit', edit_resource_path(@resource)

= link_to 'Back', resources_path
