.generic-container
  .generic-header

.results-container
  .results-inner
    %table
      %tbody
      - 10.times do |count|
        - @class = 'kk'
        - if count == 0 || count == 4 || count == 8
          - @class = 'result1'
        - elsif count == 1 || count == 5 || count == 9
          - @class = 'result2'
        - elsif count == 2 || count ==6 || count == 10
          - @class = 'result3'
        - elsif count == 3 || count == 7
          - @class = 'result4'


        - if @activities_hash[count]

        - @link = 'https://team18.demo3.hut.shefcompsci.org.uk/activities/' + @activities_hash[count]['activity']['id'].to_s

          %tr{:class => @class, :data => {:link => @link} }
            %td.result-title #{@activities_hash[count]['activity']['title']} #{@colour}
            %td.result-date
              Date:
              %span(class="date-span")
                #{@activities[count]['start_date']}
              to
              %span(class="date-span")
                #{@activities_hash[count]['activity']['end_date']}
            %td.result-description #{@activities_hash[count]['activity']['description']}
            %td.result-link Link to website: #{@activities_hash[count]['activity']['link']}
            %td.result-address Address: #{@activities_hash[count]['activity']['link']}
            %td.result-contact #{@activities_hash[count]['activity']['email']}
            %td
              = link_to like_activity_path(Activity.find_by_id(@activities_hash[count]['activity']['id'])), class:"like-btn", method: :put, remote: :true do
                = fa_icon('thumbs-up')
            %td.likes-count
              = (Activity.find_by_id(@activities_hash[count]['activity']['id'])).get_upvotes.size
        - if @resources[count]
          %tr
            %td.result-title Resource Title: #{@resources[count].title}
            %td.result-description Description: #{@resources[count].description}
            %td.result-link Link to website: #{@resources[count].link}
            %td.result-contact #{@resources[count].email}



.paginate-container
  .paginate
    - if @activities.size > @resources.size
      = will_paginate @activities, :params => { :search => @search }
    - else
      = will_paginate @resources, :params => { :search => @search }
