<div class="generic-container">
  <div class="generic-header">
    <h1>Admin Invite</h1>
    Invite people to become admins.

  </div>
</div>

<div class="form container">
<%= simple_form_for(@admins, url: admin_registrations_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
      <%= f.label "Higher access admin? Tick for yes" %>
      <%= f.check_box :higher_access%>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Create Admin" %>
    </div>
  <% end %>
</div>
