
%br
.container
  %h1  Pending requests
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Email
        %th.col Postcode
        %th.col Actions
    %tbody
      - @activities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.email
          %td= activity.postcode
          %td
            = link_to 'Approve', {:controller => 'admin/requests', :action => 'create', :id => activity.id}, method: :post, class:'btn btn-default'
            = link_to 'Reject', edit_admin_request_path(activity.id), class:'btn btn-danger'


.container
  %h1  Rejected requests
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Email
        %th.col Postcode
    %tbody
      - @activitiesrejected.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.email
          %td= activity.postcode



%br
