
.popular-activities-container
  .popular-activities-inner-container
    .populartext
      %h1  Pending Requests
      %table
        %tbody
          - @activities.each do |activity|
            %tr
              %td.activity-date= activity.deadline
              %td.activity-title= activity.title
              %td.activity-description= activity.description
              %td.activity-likes
                = button_to 'Approve', {:controller => 'admin/requests', :action => 'create', :id => activity.id}
                = button_to 'Reject', {:controller => 'admin/requests', :action => 'update', :id => activity.id}


%br
