.container
  %h2  Pending activities
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Email
        %th.col Postcode
        %th.col Actions
    %tbody
      - @activities.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.email
          %td= activity.postcode
          %td
            = link_to 'Approve', {:controller => 'admin/requests', :action => 'create', :id => activity.id}, method: :post, class:'btn btn-default'
            = link_to 'Request changes', edit_admin_request_path(activity.id), class:'btn btn-danger'
  %br
  %h2  Pending resources
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Email
        %th.col Actions
    %tbody
      - @resources.each do |resource|
        %tr
          %td= resource.title
          %td= resource.description
          %td= resource.email
          %td
            = link_to 'Approve', {:controller => 'admin/requests', :action => 'approve', :id => resource.id}, method: :post, class:'btn btn-default'
            = link_to 'Request changes', reject_admin_request_path(resource.id), class:'btn btn-danger'
  %br
  %h2  Approved resources
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Email
    %tbody
      - @resourcesaccepted.each do |resource|
        %tr
          %td= resource.title
          %td= resource.description
          %td= resource.email
  %br
  %h2  Rejected requests
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.col Title
        %th.col Description
        %th.col Deadline
        %th.col URL
        %th.col Email
        %th.col Postcode
    %tbody
      - @activitiesrejected.each do |activity|
        %tr
          %td= activity.title
          %td= activity.description
          %td= activity.deadline
          %td= activity.link
          %td= activity.email
          %td= activity.postcode


  .paginate-container
    .paginate
      = will_paginate @activities
