
.container
  %h2 Saved activities
  - no_act = 0
  - @activities.each do |activity|
    - if @user.voted_for? activity
      .well
        .activity-date
        Date:
        = activity.deadline
        %br
        .activity-title
        Title:
        = activity.title
        %br
        .activity-description
        Description:
        = activity.description
        %br{id: "likes_#{activity.id}"}
        .activity-option
          = link_to like_activity_path(activity), class:"like-btn", id:"like_#{activity.id}", method: :put, remote: :true do
            = fa_icon('thumbs-up')

            = activity.get_upvotes.size
        = link_to 'See more ', activity
    - else
      - no_act += 1
  - if no_act == @activities.length
    %p You have no saved activities.
