.form-inputs.activities

  = f.input :eligibility_criteria, label: 'Eligability Criteria', :maxlength => 50
  = f.label 'Start Date'
  = f.text_field :start_date, 'data-behaviour' => 'datepicker', label: 'Start Date'
  %br
  %br
  = f.label 'End Date'
  = f.text_field :end_date, 'data-behaviour' => 'datepicker', label: 'Start Date'
  %br
  %br
  = f.label 'Deadline for application'
  = f.text_field :deadline, 'data-behaviour' => 'datepicker', label: 'Start Date'
  %br
  = f.input :terms_of_service, as: :boolean, label: "I agree that I have permission to post this activity on this website"


:javascript

  $('[data-behaviour~=datepicker]').datepicker({
                           format: 'dd/mm/yyyy',
                           autoclose: true,
                           orientation: 'bottom'
                           });
