.form-inputs.activities

  = f.label 'Start Date'
  = f.text_field :start_date, 'data-behaviour' => 'datepicker', label: 'Start Date'
  %br
  %br
  = f.label 'End Date'
  = f.text_field :end_date, 'data-behaviour' => 'datepicker', label: 'Start Date'
  %br
  %br
  = f.label 'Deadline for application'
  = f.text_field :deadline, 'data-behaviour' => 'datepicker', label: 'Start Date'
  %br


:javascript

  $('[data-behaviour~=datepicker]').datepicker({
                           format: 'dd/mm/yyyy',
                           autoclose: true,
                           orientation: 'bottom'
                           });
