= simple_form_for(@activity) do |f|
  = f.error_notification

  .form-inputs.activities
    = f.input :title, label: 'Title'
    = f.input :description, label: 'Activity description'
    = f.input :start_date, label: 'Start Date'
    = f.input :end_date, label: 'End Date'
    = f.input :deadline, label: 'Deadline for application'
    = f.input :link, label: 'Web address of activity'
    = f.input :email, label: 'Email', placeholder: 'YourEmail@here.com'

  .form-actions
    = f.button :submit
