
= simple_form_for(@activity) do |f|
  = f.error_notification

  .form-inputs.activities
    = f.input :title, label: 'Title'
    = f.association :subjects, input_html: { class: 'select2' }
    = f.association :themes, input_html: { class: 'select2' }
    = f.association :deliveries, label_method: :method, input_html: { class: 'select2' }
    = f.association :ages, label_method: :age, input_html: { class: 'select2' }
    = f.input :description, label: 'Activity description'
    = f.input :start_date, label: 'Start Date'
    = f.input :end_date, label: 'End Date'
    = f.input :deadline, label: 'Deadline for application'
    = f.input :link, label: 'Web address of activity'
    = f.input :postcode, label: 'Activity postcode'
    = f.input :email, label: 'Email', placeholder: 'YourEmail@here.com'
    = f.input :terms_of_service, as: :boolean, label: "I agree that I have permission to post this activity on this website"

  .form-actions
    = f.button :submit
    = button_to 'Back', resources_path
