
.form-inputs.activities
  = f.input :title, label: 'Title'
  = f.input :description, label: 'Activity description'
  = f.input :link, label: 'Web address of activity'
  = f.input :postcode, label: 'Activity postcode'
  = f.input :email, label: 'Email', placeholder: 'YourEmail@here.com'
  
