.container
  .well
    %h2
      = @activity.title
    %b Description:
    = @activity.description
    %br
    %b Start date:
    = @activity.start_date
    %br
    %b End date:
    = @activity.end_date
    %br
    %b Deadline:
    = @activity.deadline
    %br
    %b Postcode:
    = @activity.postcode.upcase
    %br
    %b Url:
    = @activity.link
    %br
    %b Eligability Criteria:

    = @activity.eligibility_criteria unless @activity.eligibility_criteria.nil?

    %br
    - if can? :update, @activity
      = link_to 'Edit', edit_activity_path(@activity)

    = link_to 'Back', activities_path 
