.container
  .well
    %h2
      = @activity.title
    %b Description:
    = @activity.description
    %br
    %b Start date:
    = @activity.start_date
    %br
    %b End date:
    = @activity.end_date
    %br
    %b Deadline:
    = @activity.deadline
    %br
    %b Postcode:
    = @activity.postcode.upcase
    %br
    %b Url:
    = @activity.link
    %br
    %b Eligability Criteria:
    %br{id: "likes_#{@activity.id}"}
    .activity-option
      = link_to like_activity_path(@activity), class:"like-btn", id:"like_#{@activity.id}", method: :put, remote: :true do
        = fa_icon('thumbs-up')
        = @activity.get_upvotes.size



    = @activity.eligibility_criteria unless @activity.eligibility_criteria.nil?

    %br
    - if can? :update, @activity
      = link_to 'Edit', edit_activity_path(@activity)

    = link_to 'Back', activities_path
